*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    width: 100px;
    margin-left: 1rem;
}
header{
    background-color: rgb(27, 27, 55);
    padding-left: 1rem;
    
}
.headertop{
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
}
#location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   border: none;
   background-color: transparent;
   color: white;
}
.searchspace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.search{
    width: 30rem;
    height: 3rem;
    padding-left: 3rem;
    font-size: 1.2rem;
}
#search2{
    width: 4rem;
    height: 3rem;
    font-size: 1.2rem;
}
.country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
}
#language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    background-color: transparent;
    color: white;
    border: none;
}
.return{
    width: 55px;
    background-color: transparent;
    color: white;
    border: none;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.topright{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 1rem;
}
#logo{
    display: none;
   }
   #location{
    display: none;
   }
   .country{
    display: none;
   }
   .return{
    display: none;
   }
#headdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    display: none;
}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
  
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #logo{
        display: flex;
       }
       #location{
        display: flex;
       }
       .country{
        display: flex;
       }
       .return{
        display: flex;
       }
       
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
    .headerbottom{
        display: flex;
       }
}


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}